<head>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <form action="/uploadMovie" method="POST" enctype="multipart/form-data">
  <div class="section movie-title">
    <label>Title: </label>
    <input
      name="movieTitle"
      placeholder="Enter the title of the Movie..."
      required
    />
  </div>
  <div class="section movie-description">
    <label>description: </label>
    <input
      name="description"
      placeholder="Enter the title of the Movie..."
      required
    />
  </div>
  <div class="section movie-rating">
    <label>Ratding: </label>
    <li class="dropdown">
      <input id="rateInput" name="rating" readonly />
      <ul name="dropdownContent">
        <li class="number-list" onclick="selecteRating(1)">1</li>
        <li class="number-list" onclick="selecteRating(2)">2</li>
        <li class="number-list" onclick="selecteRating(3)">3</li>
        <li class="number-list" onclick="selecteRating(4)">4</li>
      </ul>
    </li>
    <div class="section movie-image">
      <label for="image">Upload Image : </label>
      <input name="image" type="file" id="image" accept="image/*" required />
    </div>
    
      <button  type="submit">Upload Movie</button>
    </form>

    <% if (imagePath) { %>
    <h2>Uploaded Image</h2>
    <h2> title : <%= title %></h2>
    <h2> description:  <%= description %></h2>
    <img
      src="<%= imagePath %>"
      alt="uploaded movie image"
      style="width: 100px"
    />
    <% } %>
  </div>
  <script>
    function selecteRating(rating) {
      document.getElementById("rateInput").value = rating;
    }
  </script>
</body>
