<head>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <div class="section movie-title">
    <label>Title: </label>
    <input placeholder="Enter the title of the Movie..." />
  </div>
  <div class="section movie-description">
    <label>description: </label>
    <input placeholder="Enter the title of the Movie..." />
  </div>
  <div class="section movie-rating">
    <label>Ratding: </label>
    <li class="dropdown">
      <input id="rateInput" readonly />
      <ul name="dropdownContent">
        <li class="number-list" onclick="selecteRating(1)">1</li>
        <li class="number-list" onclick="selecteRating(2)">2</li>
        <li class="number-list" onclick="selecteRating(3)">3</li>
        <li class="number-list" onclick="selecteRating(4)">4</li>
      </ul>
    </li>
    <form action="/uploadImage" method="POST" enctype="multipart/form-data">
      <label for="image">Upload Image : </label>
      <input name="image" type="file" id="image" accept="image/*" required />
    </form>
    <button type="submit">Upload Image</button>

    <% if (imagePath) { %>
    <h2>Uploaded Image</h2>
    <img
      src="<%= imagePath %>"
      alt="uploaded movie image"
      style="width: 100px"
    />
    <% } %>
  </div>
  <script>
    function selecteRating(rating) {
      document.getElementById("rateInput").value = rating;
    }
  </script>
</body>
